{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Bienvenue à la Taverne !</h1>

    <p> Dans cette taverne, nous racontons des histoires de héros et d'aventures.</p>
    <ul>
        <li>Dans l'univers de Donjon & Dragon</li>
        <li>Dans l'univers de Warhammer Fantasy</li>
    </ul>
</div>
{% endblock %}
