{% extends 'base.html.twig' %}

{% block title %}Nouvelle histoire{% endblock %}

{% block body %}
    <h1>Créer une nouvelle histoire</h1>

    {{ include('story/_form.html.twig') }}

    <a class="btn" href="{{ path('app_story_index') }}">retour à la liste</a>
{% endblock %}
